button, input {
    margin: 10px;
}

.jumbotron {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-weight: 100;
    

}

#gifForm {
    align-content: center;
    padding: 20px;
    margin-left: 20px;
}

body {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    font-family: 'Indie Flower', cursive;
    align-content: center;
}